* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

/* Step 1  */

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(205, 33%, 84%);
    width: 100vw;
    height: 100vh;
}

.step-first {
    background-color: #fefefe;
    border-radius: 15px;
    width: 800px;
    height: 500px;
    padding: 1rem;
    display: flex;
}

.side-bar {
    width: 25%;
    border-radius: 15px;
    padding: 0 0 0 1rem;
    background-image: url(assets/images/bg-sidebar-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
}


.step-sidebar {
    display: flex; 
    align-items: center;      
    margin: 2rem 0;                 
}

.step-sidebar div {
    letter-spacing: 1px;
    text-transform: uppercase;
    display: flex;
    margin-left: 15px;
    flex-direction: column;
    font-size: 12px;
    color: hsl(231, 11%, 63%);

}

.step-sidebar div span {
    font-size: 14px;
    color:hsl(0, 0%, 100%);
}

.circle {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white; 
      border: 1px solid #fefefe;

    }

.active {
    border: none; 
    color: hsl(243, 100%, 62%);
    background-color:hsl(206, 94%, 87%);
}

.step-info {
    width: 75%;
    padding: 1rem 1rem 0 1rem;
    display: flex;
    flex-direction: column;
}

.description-step {
    margin-bottom: 2rem;
        display: flex;
    flex-direction: column;
    align-items: center;

}

.description-step h1{
    color: hsl(213, 96%, 18%);
}

.description-step p {
    color: hsl(231, 11%, 63%);
}

/* formulario */ 

.form-step {
    color: hsl(213, 96%, 18%);
    display: flex;
    flex-direction: column;
}

.form-step input {
    font-weight: 700;
    color: hsl(213, 96%, 18%);
    padding: 8px;
    border: 1px solid hsl(229, 24%, 87%);
    border-radius: 4px;
    margin-bottom: 2rem;
}

#button {
    margin-top: 5rem;
    width: 25%;
    align-self: flex-end;
    cursor: pointer;
    background-color: hsl(243, 100%, 62%);
    color: white;
    padding: 10px;
}

input[type="number"]::-webkit-inner-spin-button,
info-date input[type="number"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    pointer-events: none;
}

/* esconder steps */

.hide {
    display: none;
}

/* step 2 start */

.plan-step {
    display: flex;
    justify-content: center;
}

.plan-step img {
    width: 45px;
    height: 45px;
}

.plan-option {
    width: 32%;
    border: 1px solid hsl(243, 100%, 62%);
    border-radius: 15px;
    display: flex;
    padding: 1rem;
    height: 180px;
    flex-direction: column;
    cursor: pointer;
}


.plan-option:nth-child(2){
    margin: 0 1rem;
}

.plan-option div {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    color: hsl(231, 11%, 63%);
}

.plan-option div span {
    color: hsl(213, 96%, 18%);
    font-weight: 700;
}

.free {
    margin-top: 1rem;
    font-size: 13px;
}

.hide-promo {
    display: none;
}

.selection-option {
    display: flex;
    justify-content: center;
    background-color: hsl(217, 100%, 97%);
    margin: 2rem 0 4rem;
    font-weight: 700;
    color: hsl(228, 2%, 53%);
}

.selection-active {
    background: hsl(217, 100%, 97%);
}

.selection-option span {
    display: flex;
    align-items: center;
}

.buttons {
    flex-grow: 1;
    align-items: end;
    display: flex;
    justify-content: space-between;
}

.buttons button {
    border-radius: 8px;
     width: 100px;
     font-weight: 500;
     height: 40px;
     border: none;
     cursor: pointer;
}

.buttons button:nth-child(1) {
    color: hsl(213, 96%, 18%);
     background-color: hsl(217, 100%, 97%);
}

.buttons button:nth-child(2) {
    color: white;
    background-color: hsl(213, 96%, 18%);
}

/*  */

/* Genel stil */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  margin: 10px 30px;
}

/* Giriş stil */
.toggle-switch .toggle-input {
  display: none;
}

/* Anahtarın stilinin etrafındaki etiketin stil */
.toggle-switch .toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 24px;
  background-color: hsl(243, 100%, 62%);
  border-radius: 34px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Anahtarın yuvarlak kısmının stil */
.toggle-switch .toggle-label::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  top: 4px;
  left: 4px;
  background-color: #fff;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}

/* Anahtarın etkin hale gelmesindeki stil değişiklikleri */


.toggle-switch .toggle-input:checked + .toggle-label::before {
  transform: translateX(16px);
}

/* Light tema */
.toggle-switch.light .toggle-label {
  background-color: #BEBEBE;
}

.toggle-switch.light .toggle-input:checked + .toggle-label {
  background-color: #9B9B9B;
}

.toggle-switch.light .toggle-input:checked + .toggle-label::before {
  transform: translateX(6px);
}

/* Dark tema */
.toggle-switch.dark .toggle-label {
  background-color: #4B4B4B;
}

.toggle-switch.dark .toggle-input:checked + .toggle-label {
  background-color: #717171;
}

.toggle-switch.dark .toggle-input:checked + .toggle-label::before {
  transform: translateX(16px);
}

.toggle-color {
    color: hsl(213, 96%, 18%);
}


/* step 3 */

.description-addons {
    display: flex;
    flex-direction: column;

}

.description-addons h1 {
     color: hsl(213, 96%, 18%);
}


.description-addons p {
     color:hsl(223, 4%, 69%);
}

.checkbox-addons {
        display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-evenly;
}

.checkbox-option {
    display: flex;
    height: 60px;
    border: 2px solid hsl(243, 100%, 62%);
    border-radius: 15px;
    align-items: center;
    padding: 6px;
}

.checkbox-option input{
    width: 20%;
}

.description-addon {
    width: 80%;
    font-weight: 700;
}

.description-addon h1 {
    font-size: 18px;
    color:  hsl(213, 96%, 18%);
}
.description-addon p {
    font-size: 12px;
    color: hsl(231, 11%, 63%);
}

.checkbox-priceAddon {
width: 20%;
    text-align: center;
    color: hsl(243, 100%, 62%);
}

